<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Response</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/mystyles.css" >
    <script src='main.js'></script>
</head>
<body>
    <% if( typeof profile !== 'undefined'){ %>
        <h1>Perfil de usuario</h1>
        <p>Name: <%- profile.name %></p>
        <p>Gender: <%- profile.gender %></p>
        <p>country: <%- profile.country %></p>
    <% }else{ %>
        <h1>No se ha enviado la información </h1>
    <% } %>
</body>
</html>