<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Actualizar el País</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Actualizar el País</h1>
    <form method="POST" action="/actualizar">
        <p>Nombre: <input type="text" name="username"> </p>
        <p>Pais: <input type="text" name="usercountry"></p>
        <input type="submit" value="Actualizar">
    </form>
</body>
</html>