<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Borra documentos de MongoDb</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Borra documento de MongoDb</h1>
    <form method="POST" action="/delete">
        <p>Nombre: <input type="text" name="username"> </p>
        <p>Género: <input type="text" name="usergender" > </p>
        <input type="submit" value="Eliminar">
    </form>
</body>
</html>