<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Borrar Documentos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <h1>Borrar Documentos</h1>
    <% if(typeof error !== 'undefined'){ %>
        <p> <%- error %> </p>
    <% } %>

    <% if(typeof exito !=='undefined' ){ %>
        <p> <%- exito %> </p>
    <% } %>
</body>
</html>