<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/submit">
      <p>Nombre: <input type="text" name="username" /></p>
      <p>Genero: <input type="text" name="usergender" /></p>
      <p>Pais: <input type="text" name="usercountry" /></p>
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
