<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Login</h1>
    <% if (typeof error != 'undefined'){ %>
        <h3 style="color:red"> <%- error %></h3>
        <form method="POST" action="/login">
            <p>Email: <input type="text" name="useremail" 
                    value="<% profile.email %>"> </p>
            <p>Password:  <input type="password" name="userpassword"
                    value="<% profile.password %>"> </p>
            <input type="submit" value="Enviar">
        </form>
    <% } else { %>
        <form method="POST" action="/login">
            <p>Email: <input type="text" name="useremail" > </p>
            <p>Password:  <input type="password" name="userpassword" > </p>
            <input type="submit" value="Enviar">
        </form>
    <% } %>

    
</body>
</html>